@import "./global.scss";

.footer {
  display: flex;
  align-items: center;
  flex-direction: column;

  .icons {
    display: flex;
    margin-bottom: 10px;
    span {
      font-size: 25px;
      color: $dlb;

      @include mobile {
        font-size: 20px;
      }
    }
    span:not(:last-child) {
      margin-right: 30px;
    }
  }
  .section_2 {
    span {
      color: $llt;
    }
    @include mobile {
      font-size: 14px;
    }
  }
}
